<ion-content [fullscreen]="true">

  <div class="ion-text-center ion-margin">
    <ion-text color="light">
      Hello, this is camera preview plugin example
    </ion-text>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="recordVid()" *ngIf="!isVideo">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>

    <ion-fab-button (click)="stopVid()" *ngIf="isVideo">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>

</ion-content>
